*.o
countdown
3in3
tabelline
massimo
dueMaggiori
quadrato
quadratoVuoto
cerchio
occorrenzaCifre
cripta
basi
sequenze
fattoriale
sommaProdotto
figure
rombo
decripta
Pigreco
SumVett
Address
caratteri
binario
palindromi
